<%- include('../layouts/header.ejs') %>

<div id="top" class="wrapper top">
  <div class="wrapper__inner">

    <%- include('../components/header.ejs') %>

    <%- include('../components/top/index.ejs') %>

    <%- include('../components/footer.ejs') %>

  </div>
</div>

<%- include('../layouts/footer.ejs')_%>